<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Machine USA - Payments</title>
    <link rel="icon" 
      type="image/png" 
      href="https://www.dreammachineusa.org/wp-content/uploads/2021/06/cropped-DreamrFlowerOrange-e1622658998409-32x32.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
    console.log("hello im here");
      Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
      $( document ).ready(function() {
        var stripeResponseHandler;
    
        $('#payment-form').submit(function(event) {
          var $form;
          $form = $(this);
          $form.find('button').prop('disabled', true);
          Stripe.card.createToken($form, stripeResponseHandler);
        
          return false;
        });
      
      stripeResponseHandler = function(status, response) {
        var $form, token;
        $form = $('#payment-form');
        if (response.error) {
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          token = response.id;
          
          $form.append($('<input type="hidden" name="source" />').val(token));
          $form.append($('<input type="hidden" name="email" />').val(document.querySelector('#email').value));
          $form.append($('<input type="hidden" name="name" />').val(document.querySelector('#name').value));
          $form.append($('<input type="hidden" name="amount" />').val(document.querySelector('#amount').value));

          $form.get(0).submit();
        }
      };
      });
    </script>
    <style>

<<<<<<< HEAD
  input, textarea  {
    border: solid #ea088c !important;
    border-radius: 12px;
    color: black !important;
    margin: 10px;
  }

  .field {
    margin-bottom: 10px;
    margin-top: 10px;
  }


=======
>>>>>>> parent of 1329e42... #3
    @media (min-width: 1000px) {
      .wrapper .option {
        width: 85px !important;

      }
      .wrapper {
        width: 225px !important;
      }
    }  

    @media (max-width: 900px) {
      #mobile {
        margin-top: 20px;
        transform: scale(1.4) !important;
      }
    } 


.wrapper {
  display: inline-flex;
  background: transparent;
  height: 300px;
  width: 278px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 0 !important;
  flex-wrap: wrap;
}
.wrapper .option {
  background: #fff;
  height: 65px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50px;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50px;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#Cvalue1:checked:checked ~ .option-1,
#Cvalue2:checked:checked ~ .option-2,
#Cvalue3:checked:checked ~ .option-3,
#Cvalue4:checked:checked ~ .option-4,
#Cvalue5:checked:checked ~ .option-5,
#Cvalue6:checked:checked ~ .option-6  {
  border-color: #0069d9;
  background: #0069d9;
}
#Cvalue1:checked:checked ~ .option-1 .dot,
#Cvalue2:checked:checked ~ .option-2 .dot,
#Cvalue3:checked:checked ~ .option-3 .dot,
#Cvalue4:checked:checked ~ .option-4 .dot,
#Cvalue5:checked:checked ~ .option-5 .dot,
#Cvalue6:checked:checked ~ .option-6 .dot  {
  background: #fff;
}
#Cvalue1:checked:checked ~ .option-1 .dot::before,
#Cvalue2:checked:checked ~ .option-2 .dot::before,
#Cvalue3:checked:checked ~ .option-3 .dot::before,
#Cvalue4:checked:checked ~ .option-4 .dot::before,
#Cvalue5:checked:checked ~ .option-5 .dot::before,
#Cvalue6:checked:checked ~ .option-6 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#Cvalue1:checked:checked ~ .option-1 span,
#Cvalue2:checked:checked ~ .option-2 span,
#Cvalue3:checked:checked ~ .option-3 span,
#Cvalue4:checked:checked ~ .option-4 span,
#Cvalue5:checked:checked ~ .option-5 span,
#Cvalue6:checked:checked ~ .option-6 span {
  color: #fff;
}


    @import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
  </style>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %> 
    <%= yield %>
  </body>
</html>
