<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey("pk_test_51IhdOBJSUjZHBscMMociumWH4ZBUnPl0PXkQpDeoy6O4pVUx65pFZ3uBO9yg6APfVfMDAemvCFMGEyGE91zeRUlG00O5IBcs40");
      $(document).ready(function() {
        var stripeResponseHandler;
    
        $('#payment-form').submit(function(event) {
          var $form;
          $form = $(this);
          $form.find('button').prop('disabled', true);
          Stripe.card.createToken($form, stripeResponseHandler);
          return false;
        });
      
      stripeResponseHandler = function(status, response) {
        var $form, token;
        $form = $('#payment-form');
        if (response.error) {
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          token = response.id;
          
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          $form.append($('<input type="hidden" name="email" />').val(document.querySelector('#email').value));
          $form.append($('<input type="hidden" name="name" />').val(document.querySelector('#name').value));
          $form.append($('<input type="hidden" name="amount" />').val(document.querySelector('#amount').value));
          $form.get(0).submit();
        }
      };
      });
    </script>
    <style>
    @media (max-width: 900px) {
    #mobile {
      margin-top: 80px;
      transform: scale(2) !important;
    }
  
  </style>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %> 
    <%= yield %>
  </body>
</html>
